<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

<div fxFlex="40">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                <h4>{{selectedDish.name | uppercase}}</h4>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{selectedDish.image}} alt ={{selectedDish.name}}>
        <mat-card-content>
            <p>{{selectedDish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

<div fxFlex="40">
    <mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Comments</h4>
        </mat-card-title>
    </mat-card-header>
    
    <mat-list role="list" *ngFor="let comment of comments">
        <mat-list-item role="listitem">
            <p>{{comment.comment}}</p>
            <p>{{comment.rating}} Stars</p>
            <p>-- {{comment.author}} {{comment.date | date}}</p>
        </mat-list-item>
    </mat-list>
    </mat-card>
</div>

</div>