<div class="container"
    fxLayout="row"
    fxLayoutGap="10px" 
    fxLayoutAlign="center" 
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayoutGap.xs="0">

    <!-- fxLayout.sm="column"
     
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap.xs="0"-->

<div fxFlex="60" *ngIf="dish">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img *ngIf="dish" mat-card-image src={{dish.image}} alt ={{dish.name}}>
        <mat-card-content>
            <p *ngIf="dish">{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]">
                <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button mat-button (click)= "goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spaceer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]">
                <span class="fa fa-chevron-right fa-lg"></span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Dish being served</h4>
</div>

<div fxFlex="40" *ngIf="dish">
    <mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>Comments</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-list *ngFor="let comment of dish.comments">
        <mat-list-item>
            <p *ngIf="dish" matLine>{{comment.comment}}</p>
            <p *ngIf="dish" matLine>{{comment.rating}} Stars</p>
            <p *ngIf="dish" matLine>-- {{comment.author}} {{comment.date | date}}</p>
        </mat-list-item>
    </mat-list>
    </mat-card-content>
    </mat-card>
        <h3>Send a Comment</h3>
        <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>
    
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="name" placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.name">
                {{ formErrors.name }}
              </mat-error>
            </mat-form-field>
         </p>
         <p> Rating</p>
            <mat-slider class="margin" [disabled]="disabled" [invert]="false"
            [max]="5" [min]="0" [step]="1"
            [thumbLabel]="true" [tickInterval]="1" 
            [value] ="5"
            [(ngModel)]="value"            
            [vertical]="false">
           </mat-slider>
           <p>Slider val is {{rating}}</p>
            <p>
            <mat-form-field class="full-width">
              <input matInput formControlName="comment" placeholder="Comment" type="text" required>
              <mat-error *ngIf="formErrors.comment">
                {{ formErrors.comment }}
              </mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
    
</div>
        
</div>
