<div class="container"
    fxLayout="row"
    fxLayoutGap="10px" 
    fxLayoutAlign=" center" >

    <!-- fxLayout.sm="column"
    fxLayout.xs="column" 
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap.xs="0"-->

<div fxFlex="40" *ngIf="dish">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img *ngIf="dish" mat-card-image src={{dish.image}} alt ={{dish.name}}>
        <mat-card-content>
            <p *ngIf="dish">{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)= "goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

<div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Dish being served</h4>
</div>

<div fxFlex="60" *ngIf="dish.comments">
    <mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>Comments</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-list *ngFor="let comment of dish.comments">
        <mat-list-item>
            <p *ngIf="dish" matLine>{{comment.comment}}</p>
            <p *ngIf="dish" matLine>{{comment.rating}} Stars</p>
            <p *ngIf="dish" matLine>-- {{comment.author}} {{comment.date | date}}</p>
        </mat-list-item>
    </mat-list>
    </mat-card-content>
    </mat-card>
</div>
<div [hidden]="dish.comments">
    <mat-spinner></mat-spinner><h4>Mean comments are generating :/</h4>
</div>

</div>