<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + dish.image }}" alt="{{dish.name}}">
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish">
  <mat-spinner></mat-spinner><h4>Dish being served :3</h4>
</div>

<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + promotion.image }}" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion">
  <mat-spinner></mat-spinner><h4>Promo Dish being served :3</h4>
</div>

<mat-card *ngIf="promotionLeader" fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotionLeader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + promotionLeader.image }}" alt={{promotionLeader.name}}>
    <mat-card-content>
        <p matLine mat-line>{{promotionLeader.designation}}</p>
      <p>{{promotionLeader.description}} </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="promotionLeader">
    <mat-spinner></mat-spinner><h4>PromoLeader getting ready..</h4>
  </div>

</div>